body{
	background-color:#000;
	background: url('../img/bg01.png') no-repeat center center fixed;
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#bg {
	padding-top: 280px;
  	margin-bottom:10px;
  	background-size: cover;
  	position: fixed;

}

#mountains {
	position: absolute;
	width: 3236px;
	height: 668px;
	background: url('../img/mountain02.png') repeat-x;
}

#houses {
	position: absolute;
	width: 6472px;
	height: 668px;
	background: url('../img/houses01.png') repeat-x;
}

